@font-face { font-family: 'Gothic';
  src: url('/EnglishTowne.woff') format('woff');   
}

@font-face { font-family: 'Viaoda';
  src: url('/ViaodaLibre-Regular.woff') format('woff');   
}

#header{background-color: rgb(0, 0, 0);
  padding: 4px;
  text-align: center;
  background: #9c0707;
  color: rgb(0, 0, 0);
  font-size: 20px;}

body {
  margin: 0;
padding: 0;
  text-align: center;
    background-color: rgb(0, 0, 0);

  }
  h1 {
    font-size: 40px;
    color: blue;
    font-family:'Gothic';
  }
  p { font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'Gothic' ;
   
    font-weight: bold;
  }

  .soundcloud {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #ffffff;
    color: #333333;
    padding: 15px 16px 15px 16px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }


  .instagram {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 16px 15px 16px;
    border-top: 1px solid #000000;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  .twitter {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #ffffff;
    color: #ff0000;
    padding: 15px 16px 15px 16px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
  }

  .center {
    text-align: center;
    border: 3px solid rgb(255, 198, 12);
    box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px rgb(255, 255, 255), /* middle magenta */
    0 0 140px 20px rgb(255, 203, 229); /* outer cyan */
    position:relative;
    z-index:-1;
  }

  .fire {

position: absolute;
top:75%;
left:40%;

z-index:-1;
}
